body{
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
a{
    text-decoration: none;
}

/*******************nav*************************/
.fa-caret-down{
    display: none;
}

nav{
    display: flex;
    justify-content: space-between;
    height: 12vh;
    align-items: center;
    position: relative;
    background-color: beige;
    padding-left: 6%;
    font-size: 1.2vw;
}
#navItem{
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}
.navLink{
    color: black;
    transition: 500ms ease;
} .navLink:hover{    color: #deb887;}

/*******************nav*************************/


/*******************Banner**********************/
#banner{
    position: relative;
    color: aliceblue;
    height: 85vh;
    display: flex;
    align-items: center;
    padding: 5vw 6vw 0 6vw;
	-webkit-text-stroke: 0.01vw black;
}

 .bannerImg{
    position: absolute;
    width: 100%;
 }

 .bannerTxt{
    display: flex;
    justify-content: space-between;
 }

 .donation{
    width: auto;
    font-size: 1.2vw;
 }
 .heading{
    width: auto;
    font-size: 9vh;
	-webkit-text-stroke: 0.09vw black;
}
.donate {
    background-color: aliceblue;
    font-size: 2rem;
    margin-top: 10%;
    margin-left: 10%;
    width: 80%;
    height: 5rem;
    border-radius: 8px;
    font-weight: bold;
    transition: 500ms ease;
}

.donate:hover{
     cursor: pointer;
     background-color: rgb(217, 221, 224);
     transition: 500ms ease;
}



/*******************Banner**********************/


/*******************Features********************/
#feature{
    display: flex;
    background-color: beige;
    width: auto;
    height: auto;
    position: relative;
    justify-content: center;
}

.featureoverall{
    padding: 50px 0; text-align: center; width:100%; max-width: 1200px;height: 100%;
}
.feature01{
    padding: 70px 0 20px; display: flex; justify-content: space-around;
}
.feature02{
    padding: 20px 0 70px; display: flex; justify-content: space-around;
}

.featureH1{
    font-size: 50px;
}

.features-temp{
    background-color: rgba(207, 207, 207, 0.712);
    font-size: 1.4rem;
    font-weight: 800;
    color: white;
    border: 1px solid black;
	-webkit-text-stroke: 0.09vw black;
    border-radius: 5px;
    width: 150px;
    height: 80px;
    transition: 500ms ease;
}
.hiddenTxt{
    display: none;
}

.features-temp:hover{
    color: black;
    display: block;
    width: 45%;
    height: 250px;
    cursor: pointer;
    position: sticky;
    font-size: 1.3rem;
    font-weight: 400;
	-webkit-text-stroke: 0vw;
} 

.features-temp:hover .hiddenTxt{
    display: block;
}
.features-temp:hover .hiddenTxt2{
    display: none;
}

/*******************Features********************/

/*******************donation********************/
#donationsec{
    height: 40vw;
    width: 100%;
    position: relative;
}
.donationimage{
    width: 100%; display: block; position: absolute;
}
.donationdivision{
    height: auto;
    color: white;
    padding-top: 15vw;
    padding-left: 10vw;
}
.donhead{
    font-size: 7vh;
}
.donpara{
    font-size: 2vh;
}
.donbutton{
    margin-top: 2%;
    width: 150px;
    height: 40px;
    font-weight: bold;
    border-radius: 5px;
    font-size: 20px;
    background-color: yellow;
}

/*******************donation********************/

/*******************Footer*********************/
#footer{
    padding: 12vh 5vh 8vh 5vh;
    background-color: black;
    height: 70vh;
    width: auto;
    position: relative;
    display: flex;
    color: rgb(209, 209, 209);
    /*align-items: center;*/
}

.envoy{
    font-size: 5vh;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.envoy p{
    font-size: large;
}

.footerItem h3{
    font-size: 3vh;
}
.footerItem{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.footerLink{
    padding-top: 2vh;
    font-size: larger;
    color: #696969;
    transition: 500ms ease;
}
.footerLink:hover{
    color: white;
}
.legal{
    flex-grow: 0.2;
}
.visit p{
    color: #a5a4a4;
    padding-top: 2vh;
}
/*******************Footer*********************/